$darkblue: hsl(243, 87%, 12%);
$desatblue: hsl(238, 22%, 44%);
$brightblue: hsl(224, 93%, 58%);
$modcyan: hsl(170, 45%, 43%);
$lightGblue: hsl(240, 75%, 98%);
$lightgray: hsl(0,0%, 75%);
$royalblue: royalblue;
$section2bgcolor: rgba(248,248,254,255)


